body {
    font-family: Arial, sans-serif;
    background-color: #330044;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding-top: 30px;
}

h1 {
    text-align: center;
    color: #28a745;
   
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 40%;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#result-container {
    text-align: center;
    margin-top: 20px;
}

.result {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    display: inline-block;
    width: 50%;
}

.result p {
    margin: 0;
}

.qr-code {
    margin-top: 10px;
}
